<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FCM" class="net.subey.logback.FcmAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <key>YOUR KEY</key>
        <title>YOUR NOTIFY TITLE</title>
        <to>/topics/log</to>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="FCM"/>
        <appender-ref ref="STDOUT" />
    </root>
</configuration>